$primary-red: #d04f4f;
$grey: #e7e7e7;
$redish-grey: #c7bebe;
$darkest: #000;
$lightest: #fff;

$blue: #3282f7;
$green: #68d9a4;
$red: #ed6454;

//Display variables
$border-radius: 5px;

$site-margin: 100px;
