/**
* Variables
**/

//Colors
$primary-red: #d04f4f;
$grey: #e7e7e7;
$redish-grey: #c7bebe;
$black: #000;
$white: #fff;

$blue: #3282f7;
$green: #68d9a4;
$red: #ed6454;

//Display variables
$border-radius: 5px;
