/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/main.scss ***!
  \*************************************************************************************************************/
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  position: relative;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus, a.skip-main.skip-main:active {
  color: #d04f4f;
  background-color: #e7e7e7;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid #d04f4f;
  text-align: center;
  font-size: 1.125em;
  z-index: 999;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul {
  list-style: none;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

#site-header {
  margin-top: 42px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#site-header h1 {
  margin: 0;
  padding: 0;
  color: #d04f4f;
  font-family: "DM Sans", sans-serif;
}

#main {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#tags {
  gap: 20px;
}

#sort {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.tag {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 13px;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  background-color: var(--background);
  color: #fff;
  border-radius: 5px;
}
.tag.ingredients {
  --background: #3282f7;
}
.tag.appliances {
  --background: #68d9a4;
}
.tag.ustensils {
  --background: #ed6454;
}
.tag svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
}

/** Dropdown **/
.dropdown-wrapper {
  position: relative;
  box-sizing: border-box;
}
.dropdown-wrapper.ingredients {
  --background: #3282f7;
}
.dropdown-wrapper.appliances {
  --background: #68d9a4;
}
.dropdown-wrapper.ustensils {
  --background: #ed6454;
}
.dropdown-wrapper .dropdown {
  position: relative;
  height: 100%;
  width: max-content;
}
.dropdown-wrapper .dropdown .dropdown-el {
  border-radius: 5px;
  padding: 23px 20px 20px 20px;
  background-color: var(--background);
}
.dropdown-wrapper .dropdown[aria-expanded=true] .dropdown-el {
  border-radius: 5px 5px 0 0;
}
.dropdown-wrapper .dropdown[aria-expanded=true] .dropdown-el:placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.dropdown-wrapper .dropdown[aria-expanded=true] + .dropdown-menu {
  border-radius: 0 0 5px 5px;
}
.dropdown-wrapper .dropdown .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  border: none;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.125em;
  text-align: left;
  font-family: "DM Sans", sans-serif;
}
.dropdown-wrapper .dropdown .angle-down-icon {
  position: absolute;
  top: 28px;
  right: 20px;
  fill: #fff;
  width: 16px;
  height: 10px;
  cursor: pointer;
}
.dropdown-wrapper .dropdown .angle-down-icon.down {
  transform: rotate(180deg);
}
.dropdown-wrapper .dropdown .sorter-label-input {
  width: 100%;
  height: 100%;
  /*display: none;*/
}
.dropdown-wrapper .dropdown .sorter-label-input .sorter-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.125em;
  font-weight: 700;
  outline: none;
  border: var(--background);
}
.dropdown-wrapper .dropdown .sorter-label-input .sorter-input::placeholder {
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
}
.dropdown-wrapper .dropdown-menu {
  z-index: 2000;
  font-family: "DM Sans", sans-serif;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  flex-direction: column;
  color: #fff;
  font-weight: 700;
  font-size: 1.125em;
  border-radius: 5px;
  background-color: var(--background);
  padding-bottom: 14px;
}
.dropdown-wrapper .dropdown-menu.show {
  display: grid;
}
.dropdown-wrapper .dropdown-menu .dropdown-item {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.dropdown-wrapper .dropdown-menu .dropdown-item:not(:last-child) {
  padding-bottom: 14px;
}
.dropdown-wrapper .dropdown-menu .dropdown-item .text-holder {
  width: max-content;
  height: max-content;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.dropdown-wrapper .dropdown-menu .dropdown-item:hover {
  color: #000;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}
.card .thumb {
  background-color: #c7bebe;
  height: 178px;
}
.card .infos {
  padding: 20px;
  background-color: #e7e7e7;
  min-height: 100%;
}
.card .infos div {
  display: flex;
}
.card .infos .row1 {
  justify-content: space-between;
  align-items: center;
}
.card .infos .row1 h2 {
  font-size: 1.125em;
  font-weight: 500;
}
.card .infos .row1 .time {
  display: flex;
  gap: 5px;
  align-items: center;
}
.card .infos .row1 .time svg {
  width: 20px;
  height: 20px;
}
.card .infos .row1 .time span {
  display: inline-block;
  width: max-content;
}
.card .infos .row2 .ingredients {
  width: 50%;
  font-size: 0.75em;
}
.card .infos .row2 .description {
  width: 50%;
  font-size: 0.75em;
  font-family: "Roboto", sans-serif;
  height: 109px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search label {
  position: relative;
  width: 100%;
}
#search #searchInput {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
  font-family: "Lato", sans-serif;
  padding: 24px 28px;
  font-size: 1.125em;
  font-weight: 500;
  outline: #c7bebe;
}
#search svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
