#main {
  margin-left: $site-margin;
  margin-right: $site-margin;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#tags {
  gap: 20px;
}
#sort {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
